extends layout

block vars
	- title = 'Flavors'
	- activeMenu = 'flavors'

block content
	.container
		.col-md-6
		h1 Results
		table#flavors
			thead
			tr.head
				th.col-md-2 ID
				th.col-md-2 CAS number
				th.col-md-2 Molecule name
				th.col-md-2 Treshold
				th.col-md-2 Quality
				th.col-md-2 Retention index
				th.col-md-2 Other-molecule-name
				th.col-md-2 Photo

			tbody
			- var i = -1
			each f in flavors
				- ++i
				tr(class=(i % 2 == 0) ? 'odd' : 'even')
					td.col-md-2= f.get('_id')
					td.col-md-2= f.get('cas-number.value', 'XXXX')
					td.col-md-2= f.get('molecul-name.value', 'XXXX')
					td.col-md-2= f.get('treshold.value', 'XXXX')
					td.col-md-2= f.get('quality', 'XXXX')
					td.col-md-2
						each ri in f.get('retention-index', 'XXXX')
							a(href='https://nospel.entu.ee/entity/retention-index/' + ri.reference)= ri.value
							br
					td.col-md-2= f.get('other-molecul-name', 'XXXX')
					td.col-md-2
						img(src=f.get('_picture'))

//- cas-number
	//- entu-changed-at
	//- entu-changed-by
	//- entu-created-at
	//- entu-created-by
//- molecul-name
//- other-molecul-name
//- photo
//- quality
//- retention-index
//- treshold
