extends layout

block vars
	- title = 'Flavors'
	- activeMenu = 'flavors'

block content
	.container
	.col-md-6
	h1 Tulemused
	each f in flavors
		div= "ID:" + " "+ f.get('_id')
		div= "ID:" + " "+ f.get('cas-number.value', 'XXXXX')
		div= "ID:" + " "+ f.get('molecul-name.value', 'XXXXX')
		div= "ID:" + " "+ f.get('treshold.value', 'XXXXX')
		div="/n"

	//- cas-number
	//- entu-changed-at
	//- entu-changed-by
	//- entu-created-at
	//- entu-created-by
	//- molecul-name
	//- other-molecul-name
	//- photo
	//- quality
	//- retention-index
	//- treshold
