extends layout

block vars
	- title = 'Flavors'
	- activeMenu = 'flavors'

block content
	.container
	.col-md-6
	h1 Tulemused
	each f in flavors
		div= "ID:" + " "+ f.get('_id')
		div= "CAS number:" + " "+ f.get('cas-number.value', 'XXXXX')
		div= "Molecul name:" + " "+ f.get('molecul-name.value', 'XXXXX')
		div= "Treshold:" + " "+ f.get('treshold.value', 'XXXXX')
		div= "Quality:" + " "+ f.get('quality.value', 'XXXXX')
		div= "Retention index:" + " "+ f.get('retention-index.value', 'XXXXX')
		div= "Other-molecul-name:" + " "+ f.get('other-molecul-name.value', 'XXXXX')
		div= "Photo:" + " "+ f.get('photo.value', 'XXXXX')
		br

//- cas-number
	//- entu-changed-at
	//- entu-changed-by
	//- entu-created-at
	//- entu-created-by
//- molecul-name
//- other-molecul-name
//- photo
//- quality
//- retention-index
//- treshold
